# Titanic - Machine Learning from Disaster

In [66]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

## Load datasets
Load all datasets for compeition from files.<br>
"train.csv" is the train data and "test.csv" is test data.

### load train data

In [67]:
df_train = pd.read_csv("../input/titanic/train.csv", index_col='PassengerId')
df_train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### load test data

In [68]:
df_test = pd.read_csv("../input/titanic/test.csv", index_col='PassengerId')
df_test

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...
1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

### join train and test data

In [69]:
df_full = pd.concat([df_train, df_test])
df_full

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

## analyze data
Analyze full data to select and create useful features.

### find all missing features

In [70]:
missing_features = [column for column in df_full.columns if df_full[column].isnull().any()]
missing_features.remove('Survived')
for feature in missing_features:
    print(feature, '---', df_full[feature].isnull().sum(), '/', df_full.shape[0])

Age --- 263 / 1309
Fare --- 1 / 1309
Cabin --- 1014 / 1309
Embarked --- 2 / 1309

### calculate cardinality of categorical features

In [71]:
for column in df_full.columns:
    if df_full[column].dtype == object:
        print(column, '---', len(df_full[column].unique()))

Name --- 1307
Sex --- 2
Ticket --- 929
Cabin --- 187
Embarked --- 4

## Split data
Split data into input and label data and also split train data into train and validation data.

### Split data into input and label data

In [112]:
input_data = df_train.drop('Survived', axis=1)
label_data = df_train['Survived']
x_test = df_test.copy()
print(input_data.shape)
print(x_test.shape)

(891, 10)
(418, 10)

### Split train data into train and validation data

In [113]:
x_train, x_valid, y_train, y_valid = train_test_split(input_data, label_data, test_size=0.2, random_state=0)
x_train.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
141,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
440,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S
818,2,"Mallet, Mr. Albert",male,31.0,1,1,S.C./PARIS 2079,37.0042,NaN,C
379,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C
492,3,"Windelov, Mr. Einar",male,21.0,0,0,SOTON/OQ 3101317,7.2500,NaN,S

## Data cleaning
Clean data for the best performance.

### Drop missing features

In [114]:
x_train = x_train.drop(missing_features, axis=1)
x_valid = x_valid.drop(missing_features, axis=1)
x_test = x_test.drop(missing_features, axis=1)
print(x_train.columns)
print(x_valid.columns)
print(x_test.columns)

Index(['Pclass', 'Name', 'Sex', 'SibSp', 'Parch', 'Ticket'], dtype='object')
Index(['Pclass', 'Name', 'Sex', 'SibSp', 'Parch', 'Ticket'], dtype='object')
Index(['Pclass', 'Name', 'Sex', 'SibSp', 'Parch', 'Ticket'], dtype='object')

### Drop high-cardinality categorical features

In [115]:
high_cardinality_features = [column for column in x_train.columns if x_train[column].dtype == object and len(x_train[column].unique()) > 10]
x_train = x_train.drop(high_cardinality_features, axis=1)
x_valid = x_valid.drop(high_cardinality_features, axis=1)
x_test = x_test.drop(high_cardinality_features, axis=1)
print(x_train.columns)
print(x_valid.columns)
print(x_test.columns)

Index(['Pclass', 'Sex', 'SibSp', 'Parch'], dtype='object')
Index(['Pclass', 'Sex', 'SibSp', 'Parch'], dtype='object')
Index(['Pclass', 'Sex', 'SibSp', 'Parch'], dtype='object')

### Define one-hot encoder for categorical features

In [116]:
# find all categorical features
categorical_features = [column for column in x_train.columns if x_train[column].dtype == object]
print(categorical_features)

# encode object columns
encoder = OneHotEncoder()
encoder.fit(x_train[categorical_features])
new_feature_names = encoder.get_feature_names_out(categorical_features)
print(new_feature_names)
print(encoder.categories_)

['Sex']
['Sex_female' 'Sex_male']
[array(['female', 'male'], dtype=object)]

### Encode categorical features

In [119]:
x_train_encoded = pd.DataFrame(encoder.transform(x_train[categorical_features]).toarray(), columns=new_feature_names, index=x_train.index)
x_valid_encoded = pd.DataFrame(encoder.transform(x_valid[categorical_features]).toarray(), columns=new_feature_names, index=x_valid.index)
x_test_encoded = pd.DataFrame(encoder.transform(x_test[categorical_features]).toarray(), columns=new_feature_names, index=x_test.index)
x_train_encoded.head()

             Sex_female  Sex_male
PassengerId
141                 1.0       0.0
440                 0.0       1.0
818                 0.0       1.0
379                 0.0       1.0
492                 0.0       1.0

### Replace categorical features with encoded values

In [120]:
x_train = x_train.drop(categorical_features, axis=1)
x_valid = x_valid.drop(categorical_features, axis=1)
x_test = x_test.drop(categorical_features, axis=1)

x_train = x_train.join(x_train_encoded)
x_valid = x_valid.join(x_valid_encoded)
x_test = x_test.join(x_test_encoded)

x_train.head()

             Pclass  SibSp  Parch  Sex_female  Sex_male
PassengerId
141               3      0      2         1.0       0.0
440               2      0      0         0.0       1.0
818               2      1      1         0.0       1.0
379               3      0      0         0.0       1.0
492               3      0      0         0.0       1.0

## Train and test model
Create a machine learning model and train and test data.

### Create a model

In [122]:
model = RandomForestClassifier(random_state=0)

### train model

In [123]:
model.fit(x_train, y_train)

RandomForestClassifier(random_state=0)

### evaluate model

In [124]:
y_predict = model.predict(x_valid)
score = accuracy_score(y_valid, y_predict)
print(score)

0.7988826815642458

## Submit result

In [125]:
y_test = model.predict(x_test)
result_data = pd.DataFrame({'PassengerId': x_test.index, 'Survived':y_test})
result_data.to_csv("../output/submission.csv", index=False)